@model Contribuyente
@{
    ViewData["Title"] = "Contribuyentes";
    decimal totalItbis = (decimal)0.00;

}

<div class="text-center">
    <h4 class="display-5">Información del contribuyente</h4>
</div>

<div class="row mt-4">
    <div class="col-md-12 col-xl-12">
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="card-title">RNC/CÉDULA</h5>
                        <p>@Model?.RncCedula</p>
                    </div>
                    <div class="col-md-6">
                        <h5 class="card-title">Tipo</h5>
                        <p>@Model?.Tipo?.DescripcionPersona</p>
                    </div>
                    <div class="col-md-6">
                        <h5 class="card-title">Nombre</h5>
                        <p>@Model?.Nombre</p>
                    </div>
                    <div class="col-md-6">
                        <h5 class="card-title">Estatus</h5>
                        <p>@Model?.Estatus?.Descripcion</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12 col-xl-12">
        <table class="table caption-top table-hover">
            <caption>Comprobantes Fiscales</caption>
            <thead>
                <tr>
                    <th>NCF</th>
                    <th>Monto</th>
                    <th>ITBIS (18%)</th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.Comprobantes.Count > 0)
                {
                    totalItbis = Model.Comprobantes.Sum(i => i.Itbis18);
                    foreach (var item in Model.Comprobantes)
                    {
                        <tr>
                            <td>
                                @item.NCF
                            </td>
                            <td>
                                @item.Monto
                            </td>
                            <td>
                                @item.Itbis18.ToString("0.00")
                            </td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th>@if (totalItbis > 0) { @totalItbis.ToString("0.00")}</th>
                </tr>
            </tfoot>
        </table>
        <div class="form-group text-end">
            <a asp-action="Index" class="btn btn-primary">Volver</a>
        </div>
    </div>
</div>